@import './vars.sass';

html, body {
    margin: 0 auto;
    font-family: $font;
}
.app-container {
    padding-left: $layout-padding;
    padding-right: $layout-padding;
}
.btn {
    background-color: $primary;
    padding: 9px 11px;
    outline: none;
    border: none;
    color: #fff;
    font-family: $font;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 0px 4px transparentize($primary, 0.5);
    }
}