@import './vars.sass';

.app {
    &>.app-content {
        background-color: $content-bg;
        margin-left: $sidenav-width;
        min-height: calc(100vh);
    }
    &>.app-sidenav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        width: $sidenav-width;
        box-shadow: 2px 0px 3px -1px #d9d9d9;
    }
    &.collapse {
        &>.app-content {
            margin-left: $sidenav-collapse-width;
        }
        &>.app-sidenav {
            width: $sidenav-collapse-width;
        }
    }
}